!!! 5
html
  head
    title PoC: Business Process Execution on vertigo
  body
    h2 Create a business process instance for a customer order
    div 
      div Interact with business process as 
        a(href="/process/#{id}/Customer") Customer
      br
      div Interact with business process as 
        a(href="/process/#{id}/Employee") Employee
      br

