!!! 5
html
  head
    title Enter Order
  body
    h2 Please enter your order
    form(method="post", name="order-form")
      select(name="order")
        option(value="Product1") Product 1
        option(value="Product2") Product 2
      input(type="submit", value="Submit order")
      